// this is the file that styles the inputs of the forms etc Email for the sign in form.
.form__input {
  input,
  &.checkoutInput select {
    display: block;
    //use 100% of width available in the container
    width: 100%;
    padding: 5px 5px;
    line-height: 1;
    margin: 8px auto;
    font-weight: 350;
    //size of text input for the fields
    font-size: 1.2rem;

    //text starts from left to right
    text-align: left;
    //solid black line around the input box
    border: 1.2px solid black;
  }
}
