// this page styles the signin page, where user would sign in with their login details.
.s__logIn {
  //space between elements
  margin-top: 0.2rem;
}

//change link color to black from blue
a {
  color: black;
}

//text below button styled.
.password__reset_register {
  display: block;
  width: 100%;
  //margin between the two elements
  margin: 0.8rem auto 0;
}
